@import "./abstracts/_mixin.scss";

header {
  font-family: "Azonix";
}

.v-application {
  font-family: Kiwi Maru, Work Sans !important;
}

.v-application h1 {
  font-size: 3rem;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
